In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

spark = SparkSession.builder \
    .master("local") \
    .appName("Word Count") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [ ]:
df = pd.read_csv('/content/covid-data.csv')
df

FileNotFoundError: ignored

In [ ]:
dff=spark.read.csv("/content/covid-data.csv",header=True)

In [ ]:
dff.show()

In [ ]:
df_json=spark.read.option("multiline","true").json("/content/Sample_Report.json")
df_json.printSchema()
df_json.show()

In [ ]:
query_test="""
SELECT
CURRENT_DATE() as currentdate,
CURRENT_TIME() as currnettime,
CURRENT_TIMESTAMP() as currentimestamp, 
CAST(@starttime AS date) as start_time,
CAST(@stoptime as date) as stop_time,
cast(starttime as STRING) as test,
count(distinct bikeid) as num_bikes,
CONCAT(usertype,'-',gender) as CONCAT_test,
substr(gender,1,1) as gender,
substr(usertype,1,3) as subscriber,
cast(concat(cast(extract(year from stoptime) as STRING),'-','01','-01') as date) as date,
date_diff(current_date(),cast(@stoptime as date),DAY) as day_stop_time_to_current_time
FROM `bigquery-public-data.new_york_citibike.citibike_trips`
where gender='female'
group by starttime,bikeid,CONCAT_test,gender,subscriber,stoptime limit 100"""

In [3]:
from google.colab import auth
auth.authenticate_user()

In [40]:
from google.cloud import bigquery
from timeit import default_timer as timer
from datetime import timedelta,datetime
import pandas as pd
import sys

In [52]:
env=sys.argv[0]
starttime=sys.argv[1]
stoptime=sys.argv[2]

In [97]:
starttime="2017-10-11" #@param{type:"date"}
stoptime="2016-02-24" #@param{type:"date"}
usertype="Consumer" #@param ["Subscriber","Consumer"]

In [98]:
starttime=datetime.strptime(starttime,"%Y-%m-%d").date()
stoptime =datetime.strptime(stoptime,"%Y-%m-%d").date()

In [99]:
query_test="""
SELECT @starttime as starttime,@ stoptime as stoptime,@usertype as usertype ,
FROM `bigquery-public-data.new_york_citibike.citibike_trips`
where gender='female' """

In [101]:
client = bigquery.Client(project='nice-forge-338515')
job_config=bigquery.QueryJobConfig(use_legacy_sql=False)
query_parameter=[
                 bigquery.ScalarQueryParameter("starttime","DATE",starttime),
                 bigquery.ScalarQueryParameter("stoptime","DATE",stoptime),
                 bigquery.ScalarQueryParameter("usertype","STRING",usertype)
                 ]
job_config.query_parameters=query_parameter                  
df=client.query(query_test,job_config=job_config).result().to_dataframe()
df

           starttime    stoptime  usertype
0         2017-10-11  2016-02-24  Consumer
1         2017-10-11  2016-02-24  Consumer
2         2017-10-11  2016-02-24  Consumer
3         2017-10-11  2016-02-24  Consumer
4         2017-10-11  2016-02-24  Consumer
...              ...         ...       ...
11376407  2017-10-11  2016-02-24  Consumer
11376408  2017-10-11  2016-02-24  Consumer
11376409  2017-10-11  2016-02-24  Consumer
11376410  2017-10-11  2016-02-24  Consumer
11376411  2017-10-11  2016-02-24  Consumer

[11376412 rows x 3 columns]

In [34]:
query_test="""
SELECT
CAST(@starttime AS date) as starttime,
CAST(@stoptime as date) as stoptime
FROM `bigquery-public-data.new_york_citibike.citibike_trips`
where gender='female'
group by @starttime,@stoptime limit 100"""

In [35]:
df=run.q(query_test).result().to_dataframe())

TypeError: ignored

In [26]:
client = bigquery.Client(project='nice-forge-338515')
df=client.query(query_test).result().to_dataframe()

BadRequest: ignored

In [5]:
df

   currentdate      currnettime  ...        date day_stop_time_to_current_time
0   2022-03-02  07:40:47.837078  ...  2017-01-01                          1603
1   2022-03-02  07:40:47.837078  ...  2015-01-01                          2295
2   2022-03-02  07:40:47.837078  ...  2016-01-01                          2198
3   2022-03-02  07:40:47.837078  ...  2015-01-01                          2489
4   2022-03-02  07:40:47.837078  ...  2017-01-01                          1623
..         ...              ...  ...         ...                           ...
95  2022-03-02  07:40:47.837078  ...  2016-01-01                          2008
96  2022-03-02  07:40:47.837078  ...  2016-01-01                          2141
97  2022-03-02  07:40:47.837078  ...  2016-01-01                          2082
98  2022-03-02  07:40:47.837078  ...  2016-01-01                          2151
99  2022-03-02  07:40:47.837078  ...  2016-01-01                          2140

[100 rows x 12 columns]

In [6]:
AuthorList=[
            {"usertype":"Subscriber"}
            ]
           
DateRangeList=[
               {"starttime":"2017-05-21","stoptime":"2017-05-21"} 
]

Construct Bigquery client Object

In [7]:
def run_query(query,starttime,stoptime,usertype,n=1):
  client = bigquery.Client(project='nice-forge-338515')
  for iter in range(n):
    query_job=client.query(query,bigquery.QueryJobConfig(query_parameters=[
            bigquery.ScalarQueryParameter("starttime","DATE",datetime.strptime(starttime,"%Y-%m-%d").date()),
            bigquery.ScalarQueryParameter("stoptime","DATE",datetime.strptime(stoptime,"%Y-%m-%d").date()),
            bigquery.ScalarQueryParameter("usertype","STRING",usertype)                                                         
    ],use_query_cache=False))
    df=query_job.result().to_dataframe()
    print(df)
    return [starttime,stoptime,usertype]

In [8]:
homepage_part_1="""select @starttime as starttime,@stoptime as stoptime,@usertype as usertype from `bigquery-public-data.new_york_citibike.citibike_trips` """

In [ ]:
query_run=[]
for author in AuthorList:
  for daterange in DateRangeList:
    query_run.append(run_query(query=homepage_part_1,
              starttime=daterange["starttime"],
              stoptime=daterange["stoptime"],
              usertype=author["usertype"]))

In [ ]:
col_list=["starttime","stoptime","usertype"]

In [ ]:
import pandas as pd
aa= pd.DataFrame(query_run,columns=col_list)
aa

In [1]:
starttime="2017-03-02" #@param{type:"date"}
stoptime="2017-05-21"  #@param{type:"date"} 
usertype="Subcsriber" #@param["Subcsriber","Empty"]

In [ ]:
def run_query(query,starttime,stoptime,usertype,n=1):
  client = bigquery.Client(project='nice-forge-338515')
  for iter in range(starttime,stoptime):
    query_job=client.query(query,bigquery.QueryJobConfig(query_parameters=[
            bigquery.ScalarQueryParameter("starttime","DATE",datetime.strptime(starttime,"%Y-%m-%d").date()),
            bigquery.ScalarQueryParameter("stoptime","DATE",datetime.strptime(stoptime,"%Y-%m-%d").date()),
            bigquery.ScalarQueryParameter("usertype","STRING",usertype)                                                         
    ],use_query_cache=False))
    df=query_job.result().to_dataframe()
    print(df)
    return [starttime,stoptime,usertype]

In [ ]:
homepage_part_1="""select starttime,stoptime, usertype  from `bigquery-public-data.new_york_citibike.citibike_trips` """

In [ ]:
client = bigquery.Client(project='nice-forge-338515')

df_expected= client.query(homepage_part_1).result().to_dataframe()

In [ ]:
report_range=df_expected.element('starttime',top=100).breakdown('Subscriber').run()
aa=report_range.dataframe()
aa

In [2]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(project='nice-forge-338515')

query = "SELECT @struct_value AS s;"
job_config = bigquery.QueryJobConfig(
    query_parameters=[
        bigquery.StructQueryParameter(
            "struct_value",
            bigquery.ScalarQueryParameter("x", "INT64", 1),
            bigquery.ScalarQueryParameter("y", "STRING", "foo"),
        )
    ]
)
query_job = client.query(query, job_config=job_config)  # Make an API request.

for row in query_job:
    print(row.s)

DefaultCredentialsError: ignored

In [37]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(project='nice-forge-338515')

query = "SELECT @struct_value AS s;"
job_config = bigquery.QueryJobConfig(
    query_parameters=[
        bigquery.StructQueryParameter(
            "struct_value",
            bigquery.ScalarQueryParameter("x", "INT64", 1),
            bigquery.ScalarQueryParameter("y", "STRING", "foo"),
        )
    ]
)
query_job = client.query(query, job_config=job_config)  # Make an API request.

for row in query_job:
    print(row.s)

{'x': 1, 'y': 'foo'}